
#he1{
	font-size: 100px;
}

#C3{
	border: 1px solid black;
}

#h2{
text-align: center;
}

#img{
	margin-left: 100px;
}

#p{
	text-align:justify;
	 color: black;
}

#a{
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 20px;
	margin-bottom: 20px; 
	font-size: 25px;
	padding-top: 12px; 
	padding-bottom: 12px; 
	padding-left: 100px; 
	padding-right: 100px;
}



